# git ignore file
*.exe
*.sdf
*.suo
*.pdb
*.filters
*.htm
*.aps
*.msi
release
debug
_UpgradeReport_Files
Backup
build*
msvc*
data
installer/repository
/.project
CMakeUserPaths.cmake
package.xml
installer-test
repository.zip
/ImageLounge/cmake/*.tmp
/.gitattributes
/notes.md
/x64
/installer/*.msi
.vscode
parts/
stage/
snap/.snapcraft/
